/*========== Global ===========================*/
:root {
    --darkBlue: hsl(233, 47%, 7%);
    --darkViolet: hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --darkWhite: hsla(0, 0%, 100%, 0.75);
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: var(--darkBlue);
    padding: 120px 90px;
}
.grid-wrapper {
    margin: 0 auto;
    height: 30vw;
    max-height: 420px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-areas: "description image";
}
.image-wrapper {
    grid-area: image;
    border-radius: 0 5px 5px 0;
    background-color: var(--violet);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 5px 5px 0;
    mix-blend-mode: multiply;
	opacity: 0.75;
}

.flex-description {
    border-radius: 5px 0 0 5px;
    background-color: var(--darkViolet);
    grid-area: description;
    padding: 36px 95px 20px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title * {
    color: var(--White);
    display: inline;
    Font-size: 28px;
    line-height: 28px;
}
.purple-text {
    color: var(--violet);
    font-family: sans-serif;
}
.flex-description > p {
    color: var(--darkWhite);
    margin-bottom: 15px;
    margin-top: -20px;
}
.flex-info {
    display: flex;
    justify-content: space-between;
}
.flex-info  h1 {
    color: var(--White);
    Font-size: 20px;
    font-weight: 700;
}
p {
    color: var(--darkWhite);
    Font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}


/*========== Medium-Desktop =========================*/
@media screen and (max-width: 1095px) {
    .flex-description {
        padding: 20px 55px 20px 40px;
    }
    .title * {
        Font-size: 26px;
    }
    .flex-description > p {
        margin-bottom: unset;
        margin-top: unset;
    }
    
}


/*========== Small-Desktop =========================*/
@media screen and (max-width: 976px) {
    .flex-description {
        padding: 15px 25px 15px 35px;
    }
    .title * {
        Font-size: 24px;
    }
    .flex-description > p {
        Font-size: 13px;
    }
    .flex-info  h1 {
        Font-size: 18px;
    }
    .flex-info  p {
        Font-size: 10px;
    }
}


/*========== Mobile =========================*/
@media screen and (max-width: 848px) {
    :root {
        --card-width: 410px;
    }
    body {
        height: 138vh;
        padding: 115px 30px;
    }
    .grid-wrapper {
        max-height: unset;
        width: var(--card-width);
        grid-template-columns: var(--card-width);
        grid-template-areas: "image" "description";
        grid-template-rows: 330px 660px;
        margin: 0 auto;
        text-align: center;
    }
    img {
        border-radius: 10px 10px 0 0;
    }
    .flex-description {
        border-radius: 0 0 10px 10px;
        padding: 25px 30px 20px 30px;
    }
    .title * {
        Font-size: 35px;
        line-height: 40px;
    }  
    .flex-description > p {
        margin-bottom: unset;
        margin-top: unset;
        Font-size: 19px;
        line-height: 32px;
    }
    .flex-info {
        flex-direction: column;
        justify-content: space-between;
    }
    .flex-info  h1 {
        Font-size: 32px;
        padding-top: 30px;
    }
    p {
        line-height: 30px;
    }
    .flex-info  p {
        font-size: 15px;
    }
}



